<%- include('./partials/header'); %>

    <div class="jobs">
        <div class="left">
            <h2>Stats</h2>

            <div class="stats frame">
                <h3>Total Jobs</h3>
                <p><%=job.length%></p>

                <h3>Rewards</h3>
                <% let total = 0; job.forEach(e => {total += Number(e.reward)}) %>
                <p>₹<%=total%></p>

                <h3>Rating</h3>
                <p>★★★★✩</p>
            </div>
        </div>
        <div class="right">
            <h2>All Jobs</h2>

            <% job.forEach(j => { %>
                <div class="job frame">
                    <div class="heading">
                        <h3><a href="/jobs/<%=j.U_id%>/<%=j.id%>"><%=j.title%></a></h3>
                        <p>₹<%=j.reward%></p>
                    </div>
                    <div class="footing">
                        <p><%=j.detail%></p>
                        <% if(user.id!=j.U_id) { %>
                        <button onClick="handle('<%=j.id%>', 1)">ACCEPT</button>
                        <% } else { %>
                        <button onClick="handle('<%=j.id%>', 0)">DELETE</button>
                        <% } %>
                    </div>
                </div>
            <% }) %>
        </div>
    </div>

    <script>
        async function handle(id, action) {
            console.log(id, action);

            try {
                const res = await fetch('/jobs', {
                    method: 'POST',
                    body: JSON.stringify({ id, action }),
                    headers: { 'Content-Type': 'application/json' }
                });
            }
            catch (err) {
                console.log(err);
            }

            location.assign('/jobs');
        }
    </script>

<%- include('./partials/footer'); %>